<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

    <head>
        <meta charset="UTF-8">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin">
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
            rel="stylesheet">
        <style>
            /* ここにCSSスタイルを追加 */
            /* テーブルのヘッダーに背景色を設定 */
            th {
                background-color: #343a40;
                color: white;
                cursor: pointer;
                /* カーソルをポインターに変更してクリック可能であることを示す */
            }

            /* テーブルの奇数行に背景色を設定 */
            tbody tr:nth-child(odd) {
                background-color: #f2f2f2;
            }

            /* ボタン */
            .btn {
                background-color: #007bff;
                color: white;
            }
        </style>
        <title>ホーム画面</title>
    </head>

    <header class="header01">
        <!-- ここにヘッダーの内容を追加 -->
        <img
            th:src="@{/img/sunseer-removebg-preview.png}"
            width="270px"
            onclick="location.href='http://localhost:8080/home'">
      
        <nav class="header01-nav">
            <ul class="header01-list">
                <!-- ここにナビゲーションの内容を追加 -->
      
                <a th:href="@{/add}" class="header01-item">新規登録はこちら</a>
                <a th:href="@{/retirement}" class="header01-item">退職済みはこちら</a>
                <a th:href="@{/data}" class="header01-item">データはこちら</a>
                <a th:href="@{/search}" class="header01-item">検索画面はこちら</a>
      
                <a th:href="@{/logout}" class="logout_btn_a">
                    <button class="logout_btn">
                        <div class="sign">
                            <svg viewbox="0 0 512 512">
                                <path
                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                            </svg>
                        </div>
      
                        <div class="text">Logout</div>
                    </button>
                </a>
            </ul>
        </nav>
      </header>
    <body>

        <div>
            <h2>社員一覧</h2>

            

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a
                                th:href="@{/home(page=${currentPage}, sort=${sort == 'asc' && sortField == 'id' ? 'desc' : 'asc'}, sortField='id')}">
                                社員ID
                            </a>
                        </th>
                        <th>社員画像</th>
                        <th>
                            <a
                                th:href="@{/home(page=${currentPage}, sort=${sort == 'asc' && sortField == 'hira' ? 'desc' : 'asc'}, sortField='hira')}">
                                氏名
                            </a>
                        </th>
                        <th>
                            <a
                                th:href="@{/home(page=${currentPage}, sort=${sort == 'asc' && sortField == 'divisionkana' ? 'desc' : 'asc'}, sortField='divisionkana')}">
                                部署
                            </a>
                        </th>
                        <th>
                            <a
                                th:href="@{/home(page=${currentPage}, sort=${sort == 'asc' ? 'desc' : 'asc'})}">性別</a>
                        </th>
                        <th>詳細</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 行データを繰り返し表示 -->
                    <tr
                        th:each="employee : ${emplist}"
                        th:object="${employee}"
                        class="align-middle">
                        <td class="employee-info" th:text="*{id}"></td>
                        <td><img
                            th:src="@{'/img/' + *{image}}"
                            class="img_home"
                            width="100px"
                            height="100px"/></td>
                        <td class="employee-info" th:text="*{name}"></td>
                        <td class="employee-info" th:text="*{division}"></td>
                        <td class="employee-info" th:text="*{sex}"></td>
                        <td>
                            <a th:href="@{/{id}(id=*{id})}" class="btn btn-secondary_home">詳細</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bottom_content">

            <ul class="pagination justify-content-center">
                <li th:if="${currentPage > 0}" class="page-item">
                    <a
                        th:href="@{/home(page=${currentPage - 1}, sort=${sort}, sortField=${sortField})}"
                        class="page-link">前へ</a>
                </li>
                <li
                    th:each="pageNo : ${#numbers.sequence(1, totalPages)}"
                    class="page-item"
                    th:classappend="${pageNo - 1 == currentPage} ? 'active'">
                    <a
                        th:href="@{/home(page=${pageNo - 1}, sort=${sort}, sortField=${sortField})}"
                        class="page-link"
                        th:text="${pageNo}"></a>
                </li>
                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                    <a
                        th:href="@{/home(page=${currentPage + 1}, sort=${sort}, sortField=${sortField})}"
                        class="page-link">次へ</a>
                </li>
            </ul>

            <!-- <div class="footer_dl"> -->
            <!-- CSVエクスポート用のボタン -->
            <button class="Btn" onclick="exportToCSV()">
                <svg
                    class="svgIcon"
                    viewbox="0 0 384 512"
                    height="1em"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path>
                </svg>
                <span class="icon2"></span>
                <span class="tooltip">CSVDownload</span>
            </button>
            <form
                th:action="@{/upload}"
                method="post"
                enctype="multipart/form-data"
                style="display: flex;">
                <!-- フォーム全体のレイアウトを調整 -->
                <input type="file" name="file" id="file-upload-input" style="display: none;">
                <!-- ファイル入力を非表示に -->

                <!-- ファイル選択ボタン -->
                <button
                    type="button"
                    class="btn btn-primary"
                    onclick="document.getElementById('file-upload-input').click();"
                    style="display: flex; align-items: center; justify-content: center;">
                    <img
                        src="/img/csv.png"
                        alt="Upload CSV"
                        class="csv-img"
                        style="width: 20px; height: 20px; margin-right: 5px;">
                    <!-- ボタンにアイコンを追加 -->
                    csvインポート
                </button>

                <!-- 送信ボタン -->
                <button
                    type="submit"
                    class="btn btn-success"
                    style="display: flex; align-items: center; justify-content: center;">
                    <!-- 送信ボタンを強調 -->
                    送信
                </button>
            </form>
        </div>

    </div>

</body>

<script>
    function exportToCSV() {
        // ページングされたすべてのデータを取得するAPIエンドポイントにリクエストを送信
        fetch('/api/allEmployees')
            .then(response => response.json())
            .then(data => {
                // 取得したデータをCSV形式に変換
                const csv = convertToCSV(data);

                // CSVファイルを作成し、ダウンロード
                const csvFile = new Blob([csv], {type: 'text/csv;charset=utf-8;'});
                const downloadLink = document.createElement('a');
                downloadLink.href = window
                    .URL
                    .createObjectURL(csvFile);
                downloadLink.setAttribute('download', 'employees.csv');
                downloadLink.style.display = 'none';
                document
                    .body
                    .appendChild(downloadLink);
                downloadLink.click();
            })
            .catch(error => console.error('CSVエクスポートエラー:', error)); // エラー時の処理
    }

    // テーブルデータをCSV形式に変換する関数
    function convertToCSV(data) {
        const csv = [];
        // ヘッダー行を追加
        const headerRow = Object.keys(data[0]);
        csv.push(headerRow.join(','));

        // データ行を追加
        data.forEach(row => {
            const values = headerRow.map(field => row[field]);
            csv.push(values.join(','));
        });

        return csv.join('\n');
    }
</script>



<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script
    src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-2/js/7-2-2.js"></script>

</html>